@page "/bier3"
@page "/bier3/{Brouwcode:int}"
@page "/bier3/{Brouwnaam}/{Land}"
@page "/bier3/{Brouwnaam}"
@using System.Web
@using System.Collections.Specialized
@using BlazorCourse.Components.Pages.BierExample.Model
@using BlazorCourse.Components.Pages.BierExample.Repository
<h3>BierPage 3 - Added Repository with SQL Builder</h3>

@if (_beerPage == null)
{
    <p>Geen bieren gevonden</p>
}
else
{
    <h1>Aantal bieren: @(_beerPage.Count)</h1>
    <table>
        <thead>
        <tr>
            <th>Naam <button @onclick="@(() => SortByNaam("naam"))"></button></th>
            <th>Stijl <button @onclick="@(() => SortByNaam("stijl"))"></button></th>
            <th>Alcohol <button @onclick="@(() => SortByNaam("alcohol"))"></button></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var bier in _beerPage.Bieren)
        {
            <tr>
                <td>@bier.Naam</td>
                <td>@bier.Stijl</td>
                <td>@bier.Alcohol</td>
            </tr>
        }
        </tbody>
    </table>
    
}

<a class="btn btn-primary" href="/brouwer">Back to Brouwers</a>

@code {
    private BierRepository2.PageResult _beerPage = null;

    [Parameter] public int? Brouwcode { get; set; }

    [Parameter] public string Brouwnaam { get; set; }

    [Parameter] public string Land { get; set; }

    [Parameter] public string OrderBy { get; set; } = "naam asc";

    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        string uriAsString = NavigationManager.Uri;
        Uri url = new Uri(uriAsString);
        string queryString = url.Query; // returns "?Brouwcode=someInt"
        NameValueCollection queryParameters = HttpUtility.ParseQueryString(queryString);
        string brouwcodeAsString = queryParameters["Brouwcode"]; // returns "someInt"
        if (int.TryParse(brouwcodeAsString, out int brouwcode))
        {
            Brouwcode = brouwcode;
        }

        var bierRepository = new BierRepository2();
        _beerPage = bierRepository.GetBieren(Brouwcode, Brouwnaam, Land, OrderBy, Dir);
    }

    private void SortByNaam(string orderBy)
    {
        Dir = OrderBy == orderBy && Dir == "asc" ? "desc" : "asc";

        var bierRepository = new BierRepository2();
        OrderBy = orderBy;

        _beerPage = bierRepository.GetBieren(Brouwcode, Brouwnaam, Land, OrderBy, Dir);
    }

    public string Dir { get; set; }

}