@page "/brouwer"
@using BlazorCourse.Components.Pages.Databases.BierExample.ViewModel
@using BlazorCourse.Components.Pages.Databases.BierExample.Repository
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Brouwer Page</h3>

<ul>
    @foreach (var brouwer in _brewerVms)
    {
        <li>
            <span @onclick="@(() => GoToBeerPage(brouwer.BrewerCode))">@brouwer.Name (@brouwer.NumberOfBeers) (@brouwer.NumberOfBrewersWithSameName)</span>

            
            
            @{
                var link = brouwer.Name;
                if (brouwer.NumberOfBrewersWithSameName > 1)
                {
                    link += $"/{brouwer.Country}";
                }
            }

            <a href="/Bier/@link">Show Beers</a>
            <a class="btn btn-primary" @onclick="@(() => GoToBeerPage(brouwer))">Show Beers</a>
            
        </li>
    }
</ul>

@code {


    private List<BrewerVm> _brewerVms = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _brewerVms = new BrouwerRepository().GetBrouwersVm();
    }

    private void GoToBeerPage(int brouwcode)
    {
        NavigationManager.NavigateTo($"/Bier/{brouwcode}");
    }

    private void GoToBeerPage(BrewerVm brewer)
    {
        var link = brewer.Name;
        if (brewer.NumberOfBrewersWithSameName > 1)
        {
            link += $"/{brewer.Country}";
        }   
        NavigationManager.NavigateTo($"/Bier/{link}");
    }

}